/* search container and inputs */
.search-container { gap: 20px; }
.search-form { gap: 20px; }
.more-search-options { display: flex; align-items: center; gap: 10px; }
.more-search-options select,
.more-search-options input[type="date"],
.right-search input[type="text"],
.right-search input[type="date"],
.search-chunk input[type="date"] { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; color: #25176b; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.more-search-options select:focus,
.more-search-options input[type="date"]:focus { outline: none; }
.successBtn { margin-top: 5px; }
/* search container and inputs */