/* search */
.search-container { width: 95%;}
.search-form { width: 75%;}
.Widthy { width: 12%;}
.search-form select { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.search-form option { outline: none; font-weight: bold;}
/* search */
/* main table */
.services-list,
.personas-table,
.almacen-table { width: 90%; }
.services-table th:first-child,
.services-table th:nth-child(3)  { width: 80px; }
.services-table tbody td:first-child,
.services-table tbody td:nth-child(2),
.services-table tbody td:nth-child(3) { text-align: right; }
.services-table tbody td:nth-child(4) { text-align: left; }
/* main table */


.detail-container {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.left {
    width: 80%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-row,
.second-row,
.third-row {
    display: flex;
    gap: 10px;
}

.first-data,
.second-data,
.third-data { 
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-data p,
.second-data p,
.third-data p,
.left-add p,
.data-one p,
.data-two p,
.data-three p,
.data-four p,
.data-five p,
.almacen-title p,
.search-option-radio p {
    font-size: 14px;
    font-weight: bold;
    color: #1c5d8c;
}

.first-data textarea,
.second-data textarea,
.third-data textarea,
.right-add textarea,
.data-one textarea,
.data-two textarea,
.data-three textarea,
.data-four textarea,
.data-five textarea,
.almacen-title textarea {
    border: 1px solid #1c5d8c;
    height: 20px;
    padding: 2px 4px;
    border-radius: 6px;
    font-weight: bold;
}

.moreWidth{
    width: 380px;
}

.first-data textarea:focus,
.second-data textarea:focus,
.third-data textarea:focus,
.right-add textarea:focus,
.data-one textarea:focus,
.data-two textarea:focus,
.data-three textarea:focus,
.data-four textarea:focus,
.data-five textarea:focus,
.almacen-title textarea:focus {
    outline: none;
    border-color: #042b5a;
    outline: none;
    background: #fff;
}

.right {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice-detail input[type="checkbox"] {
    border: 1px solid salmon;
    outline: none;
}

.action-btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.switch-btns {
    display: flex;
    gap: 12px;
    margin: 16px 0;
}

.switch-btns button {
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid #1d4ed8;
    background: #fff;
    color: #1d4ed8;   
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    outline: none;
}

.switch-btns button.active {
    background: #1d4ed8;
    color: #fff;
}

.switch-btns button:hover {
    background-color: #094fa3;
    color: #e6edf3;
}

.add-confirm-modal {
    position: fixed;
    top: 15%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
    background: #fff;
    border: 1px solid #aaa;
    padding: 24px;
    z-index: 2000;
    width: 900px;
    min-width: 800px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    text-align: center;
}

.add-btn {
    margin-right: 10px;
}

.add-content {
    display: flex;
    padding: 1%;
}

.left-add {
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.right-add {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 12px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.smallWidth {
    width: 10%;
}

.perstana-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    padding: 1%;
}

.data-one,
.data-two,
.data-three,
.data-four,
.data-five {
    display: flex;
    align-items: center;
    gap: 20px;
}

.data-four textarea,
.data-five textarea {
    width: 80%;
    height: 150px;
}

.almacen-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.almacen-title textarea {
    width: 360px;
}