/* search */
.search-container { width: 95%;}
.search-form { width: 75%;}
.Widthy { width: 12%;}
.search-form select { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.search-form option { outline: none; font-weight: bold;}
/* search */
/* main table */
.services-list,
.personas-table,
.almacen-table { width: 90%; }
.services-table th:first-child,
.services-table th:nth-child(3)  { width: 80px; }
.services-table tbody td:first-child,
.services-table tbody td:nth-child(2),
.services-table tbody td:nth-child(3) { text-align: right; }
.services-table tbody td:nth-child(4) { text-align: left; }
/* main table */
/* detail grid */
.detail-container { display: flex; flex-direction: column; gap: 10px;}
.first-row,
.second-row,
.left { display: flex; align-items: center; justify-content: center; gap: 10px;}
.first-row p,
.second-row p,
.name,
.left-detail p,
.chunk-two p,
.almacen-title p { font-size: 14px; font-weight: bold; color: #25176b; }
.first-row h1,
.second-row h1,
.almacen-title  h1 {color: #162a3a; font-size: 18px;}
.first-row textarea,
.right-detail textarea,
.chunk-two textarea { height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold; color: #162a3a;}
.first-row textarea:focus,
.right-detail textarea:focus,
.chunk-two textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; } 
.long {width: 280px; max-width: 400px;}
.short {width: 80px; max-width: 120px;}
.right { display: flex; gap: 10px;}
.right input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
/* detail grid */
/* detail grid's grids */
.perstana-content {width: 100%; padding: 0.5%;}
.detail-chunks-container {display: flex;}
.chunk-one,
.chunk-two {width: 50%; display: flex;}
.left-detail { width: 25%; display: flex; flex-direction: column; gap: 20px;}
.right-detail { width: 75%; display: flex; flex-direction: column; gap: 10px;}
.on-two { display: flex; gap: 10px; align-items: center; }
.heighty { height: 50px !important;}
.gap { gap: 55px;}
.average {width: 180px; max-width: 400px;}
.almacen-title { margin-top: 5px; width: 100%; display: flex; align-items: center; justify-content: center; gap: 10px;}
/* detail grid's grids */



.add-confirm-modal {
    position: fixed;
    top: 15%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
    background: #fff;
    border: 1px solid #aaa;
    padding: 24px;
    z-index: 2000;
    width: 900px;
    min-width: 800px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    text-align: center;
}

.add-btn {
    margin-right: 10px;
}

.add-content {
    display: flex;
    padding: 1%;
}

.left-add {
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.right-add {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 12px;
}



