/* search */
.search-container { width: 95%;}
.search-form { width: 75%;}
.Widthy { width: 12%;}
.search-form select { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.search-form option { outline: none; font-weight: bold;}
/* search */
/* main table */
.services-list,
.personas-table,
.almacen-table { width: 90%; }
.services-table th:first-child,
.services-table th:nth-child(3)  { width: 80px; }
.services-table th:nth-child(4),
.services-table th:nth-child(5),
.services-table th:nth-child(6),
.services-table th:nth-child(7) {width: 120px;}
.services-table tbody td:nth-child(7),
.services-table tbody td:nth-child(6),
.services-table tbody td:nth-child(5) { text-align: center; }
.personas-table thead th:last-child { width: 80px;}
/* main table */
/* detail grid */
.detail-container { display: flex; flex-wrap: wrap;}
.chunk-one,
.chunk-two { width: 40%; display: flex;}
.chunk-two { width: 50%;}
.chunk-three { width: 8%;}
.chunk-four { width: 99%; margin-top: 10px; display: flex;}
.on-two { display: flex; gap: 15px; align-items: center;}
.left {width: 20%;display: flex; flex-direction: column; gap: 20px;}
.right {width: 80%;display: flex; flex-direction: column; gap: 10px;}
.first-det,
.second-det {width: 50%; display: flex; gap: 10px;}
.special { width: 70%; height: 100px;}
.detail-container .left p,
.detail-container .right p,
.name,
.almacen-title p,
.left-add p,
.right-add p,
.first-det p,
.second-det p,
.left-special p { font-size: 14px; font-weight: bold; color: #25176b; }
.detail-container .right h1,
.almacen-title  h1 {color: #162a3a; font-size: 18px;}
.chunk-one textarea,
.chunk-two textarea,
.right-add textarea,
.first-det textarea,
.second-det textarea,
.right-special textarea { height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold; color: #162a3a;}
.chunk-one textarea:focus,
.chunk-two textarea:focus,
.right-add textarea:focus,
.first-det textarea:focus,
.second-det textarea:focus,
.right-special textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; } 
.long {width: 70%; max-width: 90%;}
.special-long { width: 90%; max-width: 95%;}
.short {width: 80px; max-width: 180px;}
.services-table tbody td input[type="checkbox"],
.chunk-three input[type="checkbox"],
.checkboxes input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
.name { margin-left: 10px;}
/* detail grid */
/* detail grid's grids */
.heighty { height: 50px !important;}
.almacen-title { margin-top: 5px; width: 100%; display: flex; align-items: center; justify-content: center; gap: 10px;}
/* detail grid's grids */
/* add grid */
.add-confirm-modal { position: fixed; top: 15%; left: 50%; width: 50%; }
.add-container { display: flex; flex-direction: column; gap: 10px;}
.first-content,
.second-content,
.third-content {display: flex;}
.left-add,
.left-special {width: 20%; text-align: left; display: flex; flex-direction: column; gap: 20px;}
.right-add,
.right-special {width: 80%; display: flex; flex-direction: column; gap: 10px;}
.on-three {display: flex; gap: 10px; align-items: center;}
.second-content {justify-content: center;}
.checkboxes {display: flex; gap: 10px; align-items: center;}
.title {width: 80%;}
.fourth-content {display: flex;}
.left-special { gap: 50px;}
/* add grid */
/* add persona grid */
.add-btn {margin: 5px;}
.delete-btn { margin-left: 10px;}
.delete-confirm-modal { display: flex; flex-direction: column; align-items: center; gap: 2px;}
.persona-details { display: flex;width: 50%; text-align: left;}
.persona-details .left-add {width: 50%; gap: 10px;}
.delete-confirm-modal .btns {justify-content: center;}
/* add persona grid */