<div class="services-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    </div>
    <app-sidebar #sidebar></app-sidebar>
    <div class="familia-container" [class.blurred]="!sidebar.collapsed">
        <div class="title-menu">
            <h2 class="margin-title">listas de servicios</h2> 
            <div class="group-menu" (click)="toggleMenu($event)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="menu-panel" *ngIf="showMenu">
                    <button class="download-btn" (click)="excelDownload()">Descargar como Excel</button>
                    <button class="print-btn" (click)="toPrint()">Impreso</button>
                    <button class="add-familia-btn">Añadir</button>
                </div>
            </div>
        </div>
        <div class="services-search">
            <div class="search-option">
                <label>Servicio</label>
                <input 
                    type="text" 
                    class="search-bar"
                    placeholder="Búsqueda de servicios" 
                >
                <label>Centro gestor</label>
                <input 
                    type="text" 
                    class="search-bar"
                    placeholder="Búsqueda de centro gestor" 
                >
                <div class="search-option-radio">
                    <div class="choice">
                        <input
                            type="radio"
                            name="choice-option"
                            class="search-radio"
                        /> Almacén / Farmacia
                    </div>
                    <div class="choice">
                        <input
                            type="radio"
                            name="choice-option"
                            class="search-radio"
                        />Comprador
                    </div>
                    <div class="choice">
                        <input
                            type="radio"
                            name="choice-option"
                            class="search-radio"
                        />Contabilidad
                    </div>                    
                    <div class="choice">
                        <input
                            type="radio"
                            name="choice-option"
                            class="search-radio"
                        />Centro peticionario
                    </div>                    
                    <div class="choice">
                        <input
                            type="radio"
                            name="choice-option"
                            class="search-radio"
                        />Todos
                    </div>                                        
                </div>
            </div>
            <div class="search-btns">
                <button class="search-btn">Buscar</button>
                <button class="Limpiar-btn">Limpiar</button>
            </div>
        </div>
        <div class="services-list">
            <h1 class="successBtn">{{ servicesMessageSuccess }}</h1>
            <h1 class="errorBtn">{{ servicessMessageError }}</h1>
            <table class="services-table">
                <thead>
                    <tr>
                        <th
                            class="sortable"
                            (click)="toggleSort('depcod')"
                        >
                            Servicio
                            <span 
                                class="sort-indicator" 
                            >
                            {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th>Descripción</th>
                        <th
                            class="sortable"
                            (click)="toggleSort('cgecod')"
                        >
                            Cód.C.G
                            <span 
                                class="sort-indicator" 
                            >
                            {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                        </th>
                        <th>Centro de Coste</th>
                        <th>Almacén</th>
                        <th>Comprador/Farmacia</th>
                        <th>Contabilidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of paginatedServices">
                        <td 
                            (click)="showDetails(s)"
                        >
                            {{ s.depcod }}
                        </td>
                        <td>{{ s.depdes }}</td>
                        <td>{{ s.cgecod }}</td>
                        <td>{{ s.ccocod }}</td>
                        <td>
                            <input 
                                type="radio"
                                [checked]="s.depalm === 0"
                                class="locked-radio"
                            >  
                        </td>
                        <td>
                            <input 
                                type="radio"
                                [checked]="s.depcom === 0"
                                class="locked-radio"
                            >
                        </td>
                        <td>
                            <input
                                type="radio"
                                [checked]="s.depint === 0"
                                class="locked-radio"
                            >   
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                type="number"
                min="1"
                [max]="totalPages"
                [value]="page + 1"
                (change)="goToPage($event)"
                class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
            <div class="modal-backdrop" *ngIf="selectedService" (click)="closeDetails()"></div>
            <div class="display" >
                <div class="modal" *ngIf="selectedService">
                    <button class="close-btn-fct" (click)="closeDetails()">×</button>
                    <h3>Detalles de Servicio</h3>
                    <div class="detail-container">
                        <div class="left">
                            <div class="first-row">
                                <div class="first-data">
                                    <p>Código</p>
                                    <textarea [(ngModel)]="selectedService.depcod" disabled></textarea>
                                </div>
                                <div class="first-data">
                                    <p>Centro de coste</p>
                                    <textarea [(ngModel)]="selectedService.ccocod"></textarea>
                                </div>
                            </div>
                            <div class="second-row">
                                <div class="second-data">
                                    <p>Descripción</p>
                                    <textarea class="moreWidth" [(ngModel)]="selectedService.depdes"></textarea>
                                </div>
                            </div>
                            <div class="third-row">
                                <div class="third-data">
                                    <p>Centro Gestor</p>
                                    <textarea [(ngModel)]="selectedService.cgecod" disabled></textarea>
                                    <textarea class="moreWidth" [(ngModel)]="selectedService.cgedes" disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="choice-detail">
                                <input
                                    type="checkbox"
                                    [checked]="selectedService?.depalm === 0"
                                    (change)="toggleDetailFlag($event, 'depalm')"
                                > Almacenar
                            </div>
                            <div class="choice-detail">
                                <input
                                    type="checkbox"
                                    [checked]="selectedService?.depcom === 0"
                                    (change)="toggleDetailFlag($event, 'depcom')"
                                > Comprar
                            </div>
                            <div class="choice-detail">
                                <input
                                    type="checkbox"
                                    [checked]="selectedService?.depint === 0"
                                    (change)="toggleDetailFlag($event, 'depint')"
                                > Contabilizar
                            </div>
                        </div>
                    </div>
                    <div class="action-btns">
                        <button class="save-btn">Guardar</button>
                        <button class="delete-btn">Borrar</button>
                    </div>
                    <div class="switch-btns">
                        <button type="button"
                            [class.active]="option === 'personas'"
                            (click)="setOption('personas')"
                        >
                            Personas
                        </button>
                        <button type="button"
                            [class.active]="option === 'datos'"
                            (click)="setOption('datos')"
                        >
                            Datos para pedidos
                        </button>
                        <button type="button"
                            [class.active] = "option === 'almacen'"
                            (click)="setOption('almacen')"
                        >
                            Almacen
                        </button>
                    </div>
                    <div class="detail-switch-content" [ngSwitch]="option">
                        <ng-container *ngSwitchCase="'personas'">
                            <h1>personas grid</h1>
                        </ng-container>
                        <ng-container *ngSwitchCase="'datos'">
                            <h1>datos grid</h1>
                        </ng-container>
                        <ng-container *ngSwitchCase="'almacen'">
                            <h1>almcen grid</h1>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
