<div class="credito-page">
    <app-sidebar #sidebar></app-sidebar>
    <div class="credito-container" [class.blurred]="!sidebar.collapsed">
        <div class="title-menu">
            <div class="title-area">
                <h2 class="margin-title">Consulta bolsa de crédito</h2>  
            </div>
            <div class="search-holder">
                <div class="search-container">
                    <div class="search-form">
                        <input 
                            type="text" 
                            class="search-bar"
                            placeholder="Centro gestor" 
                            [(ngModel)]="cgeSearch"
                            (input)="setInputToUpper($event)"
                        >
                    </div>
                    <div class="btns">
                        <button class="search-btn" (click)="searchBolsas()">Buscar</button>
                        <button class="search-btn" (click)="limpiarSearch()">Limpiar</button>
                    </div>
                </div>
            </div>
            <div class="group-menu" (click)="toggleMenu($event)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="menu-panel" *ngIf="showMenu">
                    <button class="download-btn" (click)="DownloadPDF()">Exportar a PDF</button>
                    <button class="download-btn" (click)="DownloadCSV()">Exportar a CSV</button>
                </div>
            </div>
        </div>
        <div class="credito-list">
            <h1 class="errorBtn">{{ tableMessage }}</h1>
            <div *ngIf="isLoading" class="loading-message">
                <div class="spinner"></div>
                <span>Cargando</span>
            </div>
            <table class="credito-table">
                <thead>
                    <tr>
                        <th 
                            class="sortable" 
                            (click)="setSort('gbseco')"
                            class="sortable resizable"
                        >   Aplicación
                            <span *ngIf="sortField === 'gbseco'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 0)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('partidaDesc')"
                            class="sortable resizable"
                        >   Desc.Aplicación
                            <span *ngIf="sortField === 'partidaDesc'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 1)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('gbsope')"
                            class="sortable resizable"
                        >   Operación contable
                            <span *ngIf="sortField === 'gbsope'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 2)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('gbsref')"
                            class="sortable resizable"
                        >   Ref.contable
                            <span *ngIf="sortField === 'gbsref'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 3)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('limporte')"
                            class="sortable resizable"
                        >   Imp.Operación
                            <span *ngIf="sortField === 'limporte'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 4)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('saldo')"
                            class="sortable resizable"
                        >   Saldo Operación
                            <span *ngIf="sortField === 'saldo'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 5)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('gbsiut')"
                            class="sortable resizable"
                        >   Pte.Contabilizar SCAP
                            <span *ngIf="sortField === 'gbsiut'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 6)"></div>
                        </th>
                        <th 
                            class="sortable" 
                            (click)="setSort('gbsict')"
                            class="sortable resizable"
                        >   Disponible
                            <span *ngIf="sortField === 'gbsict'">
                                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                            </span>
                            <div class="resizer" (mousedown)="startResize($event, 7)"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of paginatedFacturas">
                        <td (click)="showDetails(p)" style="cursor: pointer;">{{ p.gbsorg }} - {{ p.gbsfun }} - {{ p.gbseco}}</td>
                        <td>{{ p.partidas?.[0]?.desc }}</td>
                        <td>{{ p.gbsope }}</td>
                        <td>{{ p.gbsref }}</td>
                        <td>{{ p.limporte | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td>{{ p.saldo | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td>{{ getkAcPeCo(p.gbsiut, p.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td> {{ getkdispon(p.saldo, getkAcPeCo(p?.gbsiut, p?.gbsict)) | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                    type="number"
                    min="1"
                    [max]="totalPages"
                    [value]="page + 1"
                    (change)="goToPage($event)"
                    class="pagination-input"
                    class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
            <div class="modal-backdrop" *ngIf="selectedBolsas" (click)="closeDetails()"></div>
            <div class="display" >
                <div class="modal" *ngIf="selectedBolsas">
                    <div class="btns">
                        <div class="title-detail">
                            <h3>Detalles de Bolsa</h3>
                        </div>
                        <!-- <button class="save-btn">✔</button> -->
                        <button class="close-btn-btn" (click)="closeDetails()">✖</button>
                    </div>
                    <h1 class="successBtn">{{ guardarMesageSuccess }}</h1>
                    <h1 class="errorBtn">{{ guardarMesage }}</h1>
                    <div class="detail-container">
                        <div class="chunk-one">
                            <div class="detail-title">
                                <p>Contabilidad</p>
                            </div>
                            <div class="detail-chunk-container">
                                <div class="left">
                                    <p>Centro Gestor</p>
                                    <p>Applicación</p>
                                    <p>Operación</p>
                                    <p>Referencia</p>
                                    <p>Importe Op</p>
                                </div>
                                <div class="right">
                                    <div class="on-two">
                                        <h1>{{selectedBolsas.cgecod || '#'}}</h1>
                                        <h1>{{selectedBolsas.cgedes || '#'}}</h1>
                                    </div>
                                    <div class="on-two">
                                        <h1>{{bolsaCombo || '#'}}</h1>
                                        <h1>{{selectedBolsas?.partidas?.[0]?.desc || '#'}}</h1>
                                    </div>
                                    <h1>{{selectedBolsas.gbsope || '#'}}</h1>
                                    <h1>{{selectedBolsas.gbsref || '#'}}</h1>
                                    <h1>{{selectedBolsas?.limporte || '#'}}</h1>
                                </div>
                            </div>  
                        </div>
                        <div class="chunk-two">
                            <div class="detail-title">
                                <p>Bolsa</p>
                                <span class="boll">{{ getkCGECIC(selectedBolsas.cgecic) || '#'}}</span>
                            </div>
                            <div class="detail-chunk-container">
                                <div class="left special">
                                    <p>Fecha bolsa</p>
                                </div>
                                <div class="right">
                                    <div class="on-two">
                                        <h1>{{selectedBolsas?.gbsfop ? (selectedBolsas.gbsfop | date:'dd/MM/yyyy') : '#'}}</h1>
                                        <p>Suplemento 413</p>
                                        <h1>{{selectedBolsas?.gbs413? (selectedBolsas.gbs413) : '#'}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="conta-first">
                                <div class="conta-one">
                                    <p>Importe bolsa</p>
                                    <h1>{{selectedBolsas.gbsimp | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</h1>
                                </div>
                                <div class="conta-sign">
                                    <span class="plus">+</span>
                                </div>
                                <div class="conta-two">
                                    <p>Importe bolsa gestion</p>
                                    <h1 class="fix">{{selectedBolsas.gbsibg | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                                <div class="conta-sign">
                                    <span class="minus">-</span>
                                </div>
                                <div class="conta-three">
                                    <p>Usado bolsa</p>
                                    <h1 class="fix">{{selectedBolsas.gbsius | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                                <div class="conta-sign">
                                    <span class="equal">=</span>
                                </div>
                                <div class="conta-four">
                                    <p>Disponible bolsa</p>
                                    <h1 class="fix">{{getKBoldis(selectedBolsas.gbsimp, selectedBolsas.gbsibg, selectedBolsas.gbsius) | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                            </div>
                            <div class="conta-second">
                                <div class="conta-one">
                                    <p>Saldo op.</p>
                                    <h1>{{selectedBolsas?.saldo | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                                <div class="conta-sign">
                                    <span class="minus">-</span>
                                </div>
                                <div class="conta-two">
                                    <p>Pte. conta SCAP</p>
                                    <h1>{{getkAcPeCo(selectedBolsas.gbsiut, selectedBolsas.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                                <div class="conta-sign">
                                    <span class="equal">=</span>
                                </div>
                                <div class="conta-three">
                                    <p>Disponible</p>
                                    <h1>{{getkdispon(selectedBolsas.saldo, getkAcPeCo(selectedBolsas?.gbsiut, selectedBolsas?.gbsict)) | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="acumolados">
                        <div class="detail-title">
                            <p>Acumulados</p>
                        </div>
                        <div class="detail-acumolados-container">
                            <div class="conta-one">
                                <p>Gastado Total</p>
                                <h1>{{selectedBolsas.gbsiut | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                            </div>
                            <div class="conta-sign">
                                <span class="minus">-</span>
                            </div>
                            <div class="conta-two">
                                <p>Contabilizaado Total</p>
                                <h1>{{selectedBolsas.gbsict | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                            </div>
                            <div class="conta-sign">
                                <span class="equal">=</span>
                            </div>
                            <div class="conta-three">
                                <p>Pte. Contabilizar SCAP</p>
                                <h1>{{getkAcPeCo(selectedBolsas.gbsiut, selectedBolsas.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES'}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>