/* search */
.title-area { width: 30%; }
.search-holder { justify-content: flex-start; width: 69%; }
.search-container { margin-left: 15%; gap: 10px; }
/* search */
.centroGestor-list { width: 90%; }
/* main table */
.centroGestor-table thead th:nth-child(2) { width: 30%; }
.centroGestor-table tbody td:first-child,
.centroGestor-table tbody td:nth-child(2),
.centroGestor-table tbody td:nth-child(3),
.centroGestor-table tbody td:nth-child(5) { text-align: right; }
.centroGestor-table tbody td:nth-child(4) { text-align: left; }
/* main table */
/* detail grid */
.detail-container { display: flex; gap: 5px;}
.chunk{ width: 50%; display: flex; padding: 2px; gap: 10px;}
.left { width: 20%; display: flex; flex-direction: column; gap: 20px;}
.right { width: 80%; display: flex; flex-direction: column; gap: 10px;} 
.on-two { display: flex; gap: 10px; align-items: center; }
.chunk p,
.chunk h1,
.radio-name,
.long-text p { font-size: 14px; font-weight: bold; color: #25176b; }
.chunk h1 {color: #162a3a; font-size: 18px;}
.chunk textarea,
.long-text textarea { height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold; color: #162a3a;}
.chunk textarea:focus,
.long-text textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; } 
.mediumText { width: 120px; max-width: 200px;}
.smallText { width: 60px; max-width: 120px;}
.tallText { width: 220px; max-width: 300px;}
.margin { margin-top: 5px;}
.on-two input[type="radio"] { margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
.on-two input[type="radio"]:focus { outline: none; }
.long-text { width: 50%; display: flex; flex-direction: column; gap: 10px; }
.long-text textarea { width: 80%; max-width: 95%; height: 80px;}
/* detail grid */
/* delete grid */
.cge-delete-confirm-btn { margin-right: 10px; }
/* delete grid */
















.add-confirm-modal {
    position: fixed;
    top: 15%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, 0);
    background: #fff;
    border: 1px solid #aaa;
    padding: 24px;
    z-index: 2000;
    width: 900px;
    min-width: 800px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    text-align: center;
}



.add-content {
    display: flex;
    padding: 1%;
}

.left-add {
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
}

.right-add {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 10px;
}

.right-add textarea {
    width: 10%;
    max-width: 90%;
}



.estado-inputs {
    display: flex;
    gap: 10px;
}


