<div class="familia-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    </div>
    <app-sidebar #sidebar></app-sidebar>
    <div class="familia-container" [class.blurred]="!sidebar.collapsed">
        <h2>Lista de Familias</h2> 
        <div class="familia-search">
            <form class="search-form">
                <input 
                    type="text" 
                    class="search-bar"
                    placeholder="Buscar familias" 
                    name="search"
                    [(ngModel)]="searchTerm"
                >
            </form>
            <button class="search-btn" (click)="searchFamilias()">Buscar</button>
        </div>
        <h1 class="errorBtn">{{ familiaMessageError }}</h1>
        <h1 class="successBtn"></h1>
        <div class="familias-download">
            <button class="download-btn">Descargar como Excel</button>
            <button class="print-btn">Impreso</button>
        </div>
        <div class="familia-list">
            <h1 class="errorBtn">{{ tableMessage }}</h1>
            <table class="familia-table">
                <thead>
                    <tr>
                        <th>Familia</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of paginatedFamilias">
                        <td style="cursor: pointer;" (click)="showDetails(p)">{{ p.afacod }}</td>
                        <td>{{ p.afades }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                    type="number"
                    min="1"
                    [max]="totalPages"
                    [value]="page + 1"
                    (change)="goToPage($event)"
                    class="pagination-input"
                    class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
            <div class="modal-backdrop" *ngIf="selectedFamilias" (click)="closeDetails()"></div>
            <div class="display" >
                <div class="modal" *ngIf="selectedFamilias">
                    <button class="close-btn-fct" (click)="closeDetails()">×</button>
                    <h3>Detalles de Familia</h3>
                    <!-- <h1>{{selectedFamilias.afacod}}</h1>
                    <h2>{{ selectedFamilias.afades}}</h2> -->
                </div>
            </div>
        </div>
    </div>
</div>