/* search */
.search-container { width: 95%;}
.Widthy { width: 12%;}
.search-form select { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.search-form option { outline: none; font-weight: bold;}
.title-area {width: 22%;}
.margin-title {font-size: 18px; width: 100%; display: flex; justify-content: flex-end;}
.search-holder{width: 77%;}
.search-container{width: 100%;}
.search-form{width: 82%; gap: 10px;}
.search-form input[type="text"] {width: 120px;}
/* search */
/* main table */
.personasServices-table th:nth-child(5),
.personasServices-table th:nth-child(6),
.personasServices-table th:nth-child(7) {width: 80px;}
.personasServices-table td:nth-child(5),
.personasServices-table td:nth-child(6),
.personasServices-table td:nth-child(7) {text-align: center;}
.personasServices-table tbody td input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
/* main table */