<div class="table-container">
  <div class="table-wrapper">
    <table *ngIf="tableData.length > 0" class="styled-table">
      <thead>
        <tr>
          <th>Ejercicio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of tableData">
          <td>{{ e }}</td>
          <td>
            <button (click)="selectRow(e)">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>  
    <div *ngIf="!tableData.length && !loading">Sin ejercicios para mostrar.</div>
    <div *ngIf="loading">Cargando...</div>
    <button class="cancel-btn" (click)="cancelar()">Volver</button>
  </div>
</div>