<div class="table-container">
  <div class="table-wrapper">
    <table *ngIf="tableData.length > 0" class="styled-table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Centro Gestor</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td>{{ item }}</td>
          <td>{{ item }}</td>
          <td>
            <button (click)="selectRow(item)">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>  
    <div class="buttons">
        <button class="cancel-btn" (click)="cancelar()">Cancelar</button>
        <button class="next-btn" (click)="next()">Después</button>
    </div>
  </div>
</div>