.table-container {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.styled-table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    max-width: 99%;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 24px;
    overflow: hidden;
}

.styled-table th {
    border: 1px solid #e6edf3;
    padding: 8px 12px;
    text-align: center;
    background: #f7f7f9;
    color: #1c5d8c;
    font-size: 15px;
    font-weight: 700;
}

.styled-table td {
    border: 1px solid #f0f5f9;
    padding: 10px 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #222;
    font-weight: 600;
}

.styled-table tr:hover {
    background-color: #f0f7ff;
}

.styled-table button,
.cancel-btn,
.next-btn {
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 700;
    outline: none;
}

.styled-table button {
    background-color: #1d4ed8;
    font-size: 14px;
}

.styled-table button:hover {
    background-color: #094fa3;
    color: #e6edf3;
}

.cancel-btn {
    background-color: #dc3545;
    font-size: 18px;
}

.cancel-btn:hover {
    background-color: #c82333;
    transition: background-color 0.3s ease;
    color: #e6edf3;
}

.next-btn{
    background-color: rgb(53, 145, 53);
    font-size: 18px;
}
.next-btn:hover{
    background-color: green;
    color: #e6edf3;
}

.buttons{
    display: flex;
    gap: 20px;
}

.message{
    color: #094fa3; 
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 1600px) {
  .table-container {
    padding: 40px 0;
  }

  .styled-table {
    max-width: 70% !important;
    font-size: 1.2rem;
  }

  .styled-table th,
  .styled-table td {
    padding: 18px 22px;
    font-size: 1.05rem;
  }

  .styled-table button,
  .cancel-btn,
  .message {
    font-size: 1.2rem;
  }
}