.login-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo-container{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.error {
  width: 20%;
  text-align: center;
  color: #d32f2f;
  background-color: #ffebee;
  border: 2px solid #d32f2f;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 20px 0;
}

.login-status {
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1c5d8c;
  text-align: center;
}