.login-container {background-color: #f0f0f0;display: flex;flex-direction: column;align-items: center;height: 100vh;}
.logo-container{width: 100%;height: 30vh;display: flex;align-items: center;justify-content: center;margin-bottom: 5%;}
.error {text-align: center;color: #d32f2f;border-radius: 5px;padding: 15px 20px;margin: 20px 0;}
.fail-Message {display: flex;flex-direction: column;align-items: center;}
.login-status {margin-top: 1.5rem;font-size: 1rem;font-weight: 600;color: #25176b;text-align: center;}