<div class="credito-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    </div>
    <app-sidebar #sidebar></app-sidebar>
    <div class="credito-container" [class.blurred]="!sidebar.collapsed">
        <h2>Lista de Bolsas de credito</h2>
        <div class="credito-search">
            <form class="search-form">
                <input 
                    type="text" 
                    class="search-bar" 
                    placeholder="Buscar factura" 
                    name="search"
                >
                <button class="search-button">Buscar</button>
            </form>
            <h1 style="margin-top: 2%; font-family: inherit; color: red; font-size: inherit;">{{ searchMessage }}</h1>
        </div>
        <div class="credito-download">
            <button class="download-btn" >Descargar como PDF</button>
            <button class="download-btn" >Descargar como CSV</button>
        </div>
        <div class="credito-list">
            <h1 style="margin-bottom:2%; font-family: inherit; color: red; font-size: inherit;" id="error">{{ tableMessage }}</h1>
            <table class="credito-table">
                <thead>
                    <tr>
                        <th>Aplicación</th>
                        <th>Desc. Aplicación</th>
                        <th>Operación contable</th>
                        <th>Ref. contable</th>
                        <th>Imp. Operación</th>
                        <th>Saldo Operación</th>
                        <th>Pte. Contabilizar SCAP</th>
                        <th>Disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of paginatedFacturas">
                        <td>{{ p.gbsorg }} - {{ p.gbsfun }} - {{ p.gbseco}}</td>
                        <td>web serice</td>
                        <td>{{ p.gbsope }}</td>
                        <td>{{ p.gbsref }}</td>
                        <td>web serice</td>
                        <td>web serice</td>
                        <td>{{ getkAcPeCo(p.gbsiut, p.gbsict)}}</td>
                        <td>to be counted after web service is done</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                type="number"
                min="1"
                [max]="totalPages"
                [value]="page + 1"
                (change)="goToPage($event)"
                class="pagination-input"
                class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
        </div>
    </div>
</div>