.credito-container.blurred { filter: blur(1.2px); pointer-events: none; user-select: none; }
/* search */
.cge-text { display: flex; width: 35%; font-weight: bold; gap: 10px; }
/* search */
/* main-table */
.credito-table td:last-child,
.credito-container td:nth-child(7),
.credito-container td:nth-child(6),
.credito-container td:nth-child(5) { text-align: right !important; }
/* main-table */
/* main grid detail */
.detail-container,
.acumolados { width: 99%; padding: 1px; display: flex; flex-wrap: wrap;}
.acumolados { flex-direction: column; align-items: center; margin-top: 5px;}
.detail-title { justify-content: center; display: flex; gap: 10px; }
.chunk-one,
.chunk-two { display: flex; flex-direction: column; padding: 2px;}
.chunk-one {width: 30%;}
.chunk-two {width: 60%; }
.detail-chunk-container { display: flex; gap: 10px;}
.detail-chunk-container .left { width: 25%; display: flex; flex-direction: column; gap: 10px;}
.detail-chunk-container .right { display: flex; flex-direction: column; gap: 10px;}
.on-two { display: flex; gap: 15px; align-items: center;}
.chunk-left { width: 25%; display: flex; flex-direction: column; gap: 10px; }
.chunk-right { width: 75%; display: flex; flex-direction: column; gap: 10px;}
.special { width: 12% !important;}
.detail-container p,
.boll,
.detail-container h1,
.acumolados h1,
.acumolados p { font-size: 14px; font-weight: bold; color: #25176b; }
.detail-container h1,
.acumolados h1 {color: #162a3a;}
.conta-one textarea { height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold;}
.conta-one textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; }
.smallTextarea{width: 80px; max-width: 100px;} 
.width {width: 75%;}
.conta-first,
.conta-second { display: flex; margin-top: 1%; gap: 15px;}
.conta-one,
.conta-two,
.conta-three,
.conta-four { width: 20%; display: flex; flex-direction: column; gap: 10px;}
.conta-sign { width: 2%; display: flex; align-items: flex-end; justify-content: center;}
.fix {margin-top: 5px;}
.detail-acumolados-container { width: 80%; display: flex;  justify-content: center; gap: 10px;}
/* main grid detail */







@media (min-width: 1380px) {
    .modal{
        height: 90vh !important;
    }

    .chunk-one,
    .chunk-two,
    .chunk-three {
        border: 1px solid mediumblue;
        width: 45%; display: flex; padding: 2px;
    }

    
}