<div class="credito-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    </div>
    <app-sidebar #sidebar></app-sidebar>
    <div class="credito-container" [class.blurred]="!sidebar.collapsed">
        <div class="title-menu">
            <h2 class="margin-title">Lista de Bolsas de credito</h2>  
            <div class="group-menu" (click)="toggleMenu($event)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="menu-panel" *ngIf="showMenu">
                    <button class="download-btn" (click)="DownloadPDF(); closeMenu()">Descargar como PDF</button>
                    <button class="download-btn" (click)="DownloadCSV(); closeMenu()">Descargar como CSV</button>
                </div>
            </div>
        </div>
        <div class="credito-search">
            <form class="search-form">
                <input 
                    type="text" 
                    class="search-bar" 
                    placeholder="Buscar factura" 
                    name="search"
                    maxlength="4"
                    [(ngModel)]="centroGestor"
                    readonly
                >
            </form>
        </div>
        <div class="credito-list">
            <h1 style="margin-bottom:2%; font-family: inherit; color: red; font-size: inherit;" id="error">{{ tableMessage }}</h1>
            <table class="credito-table">
                <thead>
                    <tr>
                        <th>Aplicación</th>
                        <th>Desc. Aplicación</th>
                        <th>Operación contable</th>
                        <th>Ref. contable</th>
                        <th>Imp. Operación</th>
                        <th>Saldo Operación</th>
                        <th>Pte. Contabilizar SCAP</th>
                        <th>Disponible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of paginatedFacturas">
                        <td (click)="showDetails(p)" style="cursor: pointer;">{{ p.gbsorg }} - {{ p.gbsfun }} - {{ p.gbseco}}</td>
                        <td>{{ p.partidas?.[0]?.desc }}</td>
                        <td>{{ p.gbsope }}</td>
                        <td>{{ p.gbsref }}</td>
                        <td>{{ p.limporte | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td>{{ p.saldo | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td>{{ getkAcPeCo(p.gbsiut, p.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                        <td> {{ getkdispon(p.saldo, getkAcPeCo(p?.gbsiut, p?.gbsict)) | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-controls">
                <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
                <span>Página</span>
                <input
                    type="number"
                    min="1"
                    [max]="totalPages"
                    [value]="page + 1"
                    (change)="goToPage($event)"
                    class="pagination-input"
                    class="pagination-input"
                />
                <span>de {{ totalPages }}</span>
                <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
            </div>
            <div class="modal-backdrop" *ngIf="selectedBolsas" (click)="closeDetails()"></div>
            <div class="display" >
                <div class="modal" *ngIf="selectedBolsas">
                    <button class="close-btn-fct" (click)="closeDetails()">×</button>
                    <h3>Detalles de Bolsa</h3>
                    <div class="first-row">
                        <div class="first-data">
                            <p>Centro Gestor:</p>
                            <textarea [(ngModel)]="selectedBolsas.cgecod" readonly></textarea>
                            <textarea type="text" [(ngModel)]="selectedBolsas.cgedes" readonly></textarea>
                        </div>
                        <div class="first-data">
                            <p>Cerrado:</p>
                            <textarea [value]="getkCGECIC(selectedBolsas.cgecic)" readonly></textarea>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="data-name">
                            <p>Contabilidad</p>
                        </div>
                        <div class="data-name">
                            <p>Bolsa</p>
                        </div>
                    </div>
                    <div class="third-row">
                        <div class="third-data">
                            <p>Applicación:</p>
                            <textarea [(ngModel)]="bolsaCombo" readonly></textarea>
                            <textarea [value]="selectedBolsas?.partidas?.[0]?.desc || ''" readonly></textarea>
                        </div>
                        <div class="third-data">
                            <div class="third-data-special">
                                <p>Fecha bolsa</p>
                                <textarea [value]="selectedBolsas?.gbsfop | date:'dd/MM/yyyy'" readonly></textarea>
                            </div>
                            <div class="third-data-special">
                                <p>Suplemento 413</p>
                                <textarea [(ngModel)]="selectedBolsas.gbs413" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="fourth-row">
                        <div class="fourth-data">
                            <div class="fourth-data-special">
                                <p>Operación</p>
                                <textarea [(ngModel)]="selectedBolsas.gbsope" readonly></textarea>
                            </div>
                            <div class="fourth-data-special">
                                <p>Referencia</p>
                                <textarea [(ngModel)]="selectedBolsas.gbsref" readonly></textarea>
                            </div>
                            <div class="fourth-data-special">
                                <p>Importe Op.</p>
                                <textarea [value]="selectedBolsas?.limporte" readonly></textarea>
                            </div>
                        </div>
                        <div class="fourth-data bordering left">
                            <div class="fourth-data-special">
                                <p>Importe bolsa</p>
                                <textarea [ngModel]="selectedBolsas.gbsimp | currency:'EUR':'symbol':'1.2-2':'es-ES'"
                                (blur)="formatGbsimp($event)"></textarea>
                            </div>
                            <div class="fourth-data-special">
                                <h5 class="ope">+</h5>
                            </div>
                            <div class="fourth-data-special">
                                <p>Importe bolsa gestion</p>
                                <textarea [ngModel]="selectedBolsas.gbsibg | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                            <div class="fourth-data-special">
                                <h5 class="ope">-</h5>
                            </div>
                            <div class="fourth-data-special">
                                <p>Usado bolsa</p>
                                <textarea [ngModel]="selectedBolsas.gbsius | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                            <div class="fourth-data-special">
                                <h5 class="ope">=</h5>
                            </div>
                            <div class="fourth-data-special">
                                <p>Disponible bolsa</p>
                                <textarea [value]="getKBoldis(selectedBolsas.gbsimp, selectedBolsas.gbsibg, selectedBolsas.gbsius) | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="fifth-row">
                        <div class="fifth-data bordering">
                            <div class="fifth-data-special">
                                <p>Saldo op.</p>
                                <textarea  [value]="selectedBolsas?.saldo | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                            <div class="fifth-data-special-math">
                                <h5 class="ope">-</h5>
                            </div>
                            <div class="fifth-data-special">
                                <p>Pte. conta SCAP</p>
                                <textarea [value]="getkAcPeCo(selectedBolsas.gbsiut, selectedBolsas.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                            <div class="fifth-data-special-math">
                                <h5 class="ope">=</h5>
                            </div>
                            <div class="fifth-data-special">
                                <p>Disponible</p>
                                <textarea [value]="getkdispon(selectedBolsas.saldo, getkAcPeCo(selectedBolsas?.gbsiut, selectedBolsas?.gbsict)) | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                            </div>
                        </div>

                        <div class="fifth-data-special bordering">
                            <div class="title">
                                <h5>Acumulados</h5>
                            </div>
                            <div class="fifth-data-special-container">
                                <div class="fifth-data-special">
                                    <p>Gastado Total</p>
                                    <textarea [ngModel]="selectedBolsas.gbsiut | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                                </div>
                                <div class="fifth-data-special-math">
                                    <h5 class="opee">-</h5>
                                </div>
                                <div class="fifth-data-special">
                                    <p>Contabilizaado Total</p>
                                    <textarea [ngModel]="selectedBolsas.gbsict | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                                </div>
                                <div class="fifth-data-special-math">
                                    <h5 class="opee">=</h5>
                                </div>
                                <div class="fifth-data-special">
                                    <p>Pte. Contabilizar SCAP</p>
                                    <textarea [value]="getkAcPeCo(selectedBolsas.gbsiut, selectedBolsas.gbsict) | currency:'EUR':'symbol':'1.2-2':'es-ES'" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="successBtn">{{ guardarMesageSuccess }}</h1>
                    <h1 class="errorBtn">{{ guardarMesage }}</h1>
                    <button class="save-btn" (click)="guardarDetelles(selectedBolsas.gbsimp, getKBoldis(selectedBolsas.gbsimp, selectedBolsas.gbsibg, selectedBolsas.gbsius), selectedBolsas.gbsref)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>