.credito-container.blurred { filter: blur(1.2px); pointer-events: none; user-select: none; }
/* search */
.cge-text { display: flex; width: 35%; font-weight: bold; gap: 10px; }
/* search */
/* main-table */
.credito-table td:last-child,
.credito-container td:nth-child(7),
.credito-container td:nth-child(6),
.credito-container td:nth-child(5) { text-align: right !important; }
/* main-table */
/* main grid detail */
.first-row, 
.second-row, 
.third-row, 
.fourth-row, 
.fifth-row{
    display: flex;
    margin: 10px;
}

.left {
    margin-left: 6px;
}

.first-data, 
.data-name, 
.third-data, 
.fourth-data{
    width: 48%;
    height: auto;
    margin-right: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1%;
}

.fifth-data, 
.fifth-data-special{
    width: 48%;
    display: flex;
    align-items: center;
    margin-right: 2%;
    text-align: center;
}

.fifth-data-special-math{
    width: 2%;
    position: relative;
}

.fourth-data-special, 
.fifth-data-special{
    position: relative !important;
}

.ope{
    position: absolute;
    bottom: 1;
}

.opee{
    position: absolute;
    bottom: 0;
}

.fifth-data-special-container{
    width: 100%;
    gap: 10px;
    padding: 1%;
}

.first-data p, 
.second-row p, 
.third-data p, 
.fourth-data p, 
.fifth-data p, 
.fifth-data-special p {
    font-size: 18px;
    font-weight: bold;
    color: #1c5d8c;
}

.first-data textarea, 
.third-data textarea {
    border: 1px solid #1c5d8c;
    /* height: 20px; */
    padding: 2px 4px;
    border-radius: 6px;
    /* min-width: 150px; */
    /* max-width: 400px; */
    font-weight: bold;
}

.align-text{
    text-align: right !important;
}

.fourth-data textarea,
.fifth-data textarea, 
.fifth-data-special textarea {
    border: 1px solid #1c5d8c;
    padding: 2px 4px;
    border-radius: 6px;
    /* max-width: 200px; */
    font-weight: 700;
    height: 20px;
}

.first-data textarea:focus, 
.second-data textarea:focus, 
.third-data textarea:focus, 
.fourth-data textarea:focus, 
.fifth-data textarea:focus, 
.fifth-data-special textarea:focus {
    border-color: #042b5a;
    outline: none;
    background: #fff;
}

.third-data-special, 
.fourth-data-special, 
.fifth-data-special {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.bordering{
    border: 1px solid gray;
}

.fifth-data-special-container{
    position: relative;
    display: flex;
}
/* main grid detail */







@media (max-width: 1380px) {
    .modal{
        height: 90vh !important;
    }

    .fourth-data p, 
    .fifth-data p, 
    .fifth-data-special p, 
    .fourth-data-special p{
        width: 100%;
        font-size: 13px;
    }

    
}