/* search */
.cge-text { display: flex; width: 40%; font-weight: bold; gap: 10px; color: rgb(221, 66, 66);}
.title-area {justify-content: flex-end; width: 30%;}
.search-holder { width: 69%;}
/* search */
/* main-table */
.credito-container td:nth-child(8),
.credito-container td:nth-child(7),
.credito-container td:nth-child(6),
.credito-container td:nth-child(5) { text-align: right; }
/* main-table */
/* main grid detail */
.detail-container,
.acumolados {width: 99%; padding: 1px; display: flex; flex-wrap: wrap; gap: 5px;}
.acumolados {flex-direction: column; align-items: center; margin-top: 5px;}
.detail-title { justify-content: center; display: flex; gap: 10px;}
.chunk-one,
.chunk-two { display: flex; flex-direction: column;}
.chunk-one {width: 35%;}
.chunk-two {width: 64%; }
.detail-chunk-container { display: flex; gap: 10px;}
.detail-chunk-container .left { width: 30%; display: flex; flex-direction: column; gap: 10px; }
.detail-chunk-container .right { display: flex; flex-direction: column; gap: 10px; }
.on-two { display: flex; gap: 15px; align-items: center;}
.special { width: 12% !important;}
.detail-container h1,
.acumolados h1 {font-size: 18px;}
.smallTextarea{width: 80px; max-width: 100px;} 
.conta-first,   
.conta-second { display: flex; margin-top: 1%;}
.conta-one,
.conta-two,
.conta-three,
.conta-four { width: 30%; display: flex; flex-direction: column; gap: 5px;}
.conta-sign { font-weight: bold; font-size: 22px; width: 8%; display: flex; align-items: flex-end; justify-content: center;}
.fix {margin-top: 5px;}
.detail-acumolados-container { width: 80%; display: flex;  justify-content: center; gap: 10px;}
/* main grid detail */
@media (max-width: 1299px) {
    .detail-chunk-container .left {width: 10%;}
    .chunk-one,
    .chunk-two,
    .chunk-three { width: 98%;}
    .detail-container, .acumolados { width: 98%; }
}