.credito-container.blurred { filter: blur(1.2px); pointer-events: none; user-select: none; }
/* search */
.cge-text { display: flex; width: 35%; font-weight: bold; gap: 10px; }
/* search */
/* main-table */
.credito-table td:last-child,
.credito-container td:nth-child(7),
.credito-container td:nth-child(6),
.credito-container td:nth-child(5) { text-align: right !important; }
/* main-table */
/* main grid detail */
.detail-container { width: 99%; padding: 1px; }
.first-half { width: 100%; display: flex; }
.left { width: 50%; display: flex; flex-direction: column; flex-wrap: wrap; gap: 10px; justify-items: center; align-items: center; }
.wrap{ width: 100%; display: flex; flex-wrap: wrap; gap: 15px; }
.right { width: 50%; gap: 10px; display: flex; flex-direction: column; justify-items: center; align-items: center; }
.detail-title { justify-content: center; display: flex; gap: 10px; }
.chunk-one,
.chunk-two,
.chunk-three{width: 70%; display: flex; padding: 2px;}
.on-two { display: flex; gap: 10px; align-items: center;}
.chunk-left { width: 25%; display: flex; flex-direction: column; gap: 20px; }
.chunk-right { width: 75%; display: flex; flex-direction: column; gap: 10px;}
.detail-title,
.chunk-left p,
.chunk-right p { font-size: 14px; font-weight: bold; color: #25176b; }
.chunk-right textarea{ height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold;}
.chunk-right textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; }
.tallTextarea {width: 220px; max-width: 240px;}
.averageTextarea{ width: 100px; max-width: 160px;}
.smallTextarea{width: 50px; max-width: 100px;}
.width {width: 75%;}

/* main grid detail */







@media (min-width: 1380px) {
    .modal{
        height: 90vh !important;
    }

    .chunk-one,
    .chunk-two,
    .chunk-three {
        border: 1px solid mediumblue;
        width: 45%; display: flex; padding: 2px;
    }

    
}