/* search */
.margin-title { margin-left: 20%;}
.search-options label { display: flex; font-size: 15px; gap: 16px; color: #444; padding: 8px 14px; }
.search-options input:focus {outline: none;}
.search-button-proveedores{ margin-right: 10px; }
.search-btns { margin-left: 10px; } 
.search-options input[type="radio"],
.hello-modal .anadir-articulo-form input[type="radio"] { margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
/* search */
/* detail grid */
.detail-container { display: flex; flex-wrap: wrap; align-items: center; padding: 5px; gap: 10px; }
.chunk-one,
.chunk-two,
.chunk-three,
.chunk-four { width: 30%; display: flex; padding: 2px; }
.left { width: 20%; display: flex; flex-direction: column; gap: 10px; }
.right { width: 80%; display: flex; flex-direction: column; gap: 10px;}
.on-three,
.on-two { display: flex; gap: 10px; }
.margiin { margin-top: 10px; }
.margin { margin-bottom: 5px; }
.chunk-one p,
.chunk-two p,
.chunk-three p,
.chunk-four p,
.observ p,
.acuerdo,
.left-persona p,
.detailPersonnaDelete h1,
.chunk-one h1,
.chunk-two h1,
.chunk-three h1,
.chunk-four h1 { font-size: 14px; font-weight: bold; color: #38249b; }
.chunk-one h1,
.chunk-two h1,
.chunk-three h1,
.chunk-four h1 { color: #162a3a;}
/* detail grid */
/* sub tables and lists */  
.articulo-table tbody td:nth-child(8),
.articulo-table tbody td:last-child,
.personas-contacto-table tbody td:last-child {text-align: center;}
.articulos-delete-confirm-btn { margin-right: 10px; }
.personas-contacto-table,
.proveedor-anadir-table-sw { width: 100%; }
.proveedor-anadir-table-sw{ margin-top: 10px; }
.personas-contacto-table input[type="text"],
.personas-contacto-table input[type="email"],
.articulo-table input[type="number"],
.articulo-table input[type="text"] { width: 100%; padding: 6px 8px; border: 1px solid #bfc9d1; border-radius: 4px; font-size: 14px; background: #fff; transition: border-color 0.2s; box-sizing: border-box; color: #162a3a; font-weight: bold;}
.articulo-table input[type="checkbox"],
.acuerdo input[type="checkbox"],
.checkbox { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
.personas-contacto-table input[type="text"]:focus,
.personas-contacto-table input[type="email"]:focus,
.articulo-table input[type="number"]:focus,
.articulo-table input[type="text"]:focus { border-color: #38249b; outline: none; background: #f0f7ff; }
.checkbox { outline: none; }
.articulo-table h2,
.personas-contacto-table h1,
.observation { text-align: center; font-size: 15px; color: #333; margin: 0; padding: 0; }
/* sub tables and lists */
@media (min-width: 1700px) { .chunk-one, .chunk-two, .chunk-three, .chunk-four { width: 22%; }
.save-btn-articulos {margin-left: 10px;} }