/* search */
.search-container { width: 90%;}
.search-form { width: 20%;}
.Widthy { width: 12%;}
/* search */
.personas-table thead th:first-child {width: 110px;}
.personas-table thead th:nth-child(2),
.personas-table thead th:nth-child(3),
.personas-table thead th:last-child {width: 200px;}
.personas-table tbody td { text-align: right; }