/* search */
.search-container { width: 90%;}
.search-form { width: 20%;}
.Widthy { width: 12%;}
/* search */
.personas-table thead th:first-child {width: 110px;}
.personas-table thead th:nth-child(2),
.personas-table thead th:nth-child(3),
.personas-table thead th:last-child {width: 200px;}
/* search */
/* detail grid */
.detail-cotainer {display: flex; flex-direction: column; flex-wrap: wrap; gap: 10px;}
.above,
.below {display: flex;}
.chunk-one,
.chunk-two {width: 49%; display: flex;}
.left,
.right {display: flex; flex-direction: column; }
.left {width: 20%; gap: 20px;}
.right {width: 80%; gap: 10px;}
.on-two {display: flex; align-items: center; gap: 10px;}
.chunk-one,
.chunk-two p,
.below p,
.add-container p,
.delete-content {font-size: 14px; font-weight: bold; color: #25176b;}
.chunk-one h1,
.delete-content h1 {color: #162a3a; font-size: 18px;}
.chunk-one textarea,
.chunk-two textarea,
.below textarea,
.add-container textarea {height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold; color: #162a3a;}
.chunk-one textarea:focus,
.chunk-two textarea:focus,
.below textarea:focus,
.add-container textarea:focus {outline: none; border-color: #042b5a; outline: none; background: #fff;}
.average {width: 190px; max-width: 290px;}
.long { width: 355px; max-width: 390px;}
.left-special {width: 10%;}
.right-special {width: 90%;}
.special-long {width: 87%; max-width: 90%; height: 50px !important;}
/* detail grid */
/* services grid in detail */
.servicesPersona-table { width: 90%;}
.servicesPersona-table thead th:first-child,
.servicesPersona-table thead th:last-child {width: 20%;}
.servicesPersona-table tbody td:last-child {text-align: center;}
.margin { margin-top: 10px;}
/* services grid in detail */
/* add persona grid */
.add-confirm-modal { width: 45%; top: 20%;}
.title {width: 80%;}
.add-container {display: flex; width: 99%;}
.left-add {width: 18%; display: flex; flex-direction: column; gap: 20px; text-align: left;}
.right-add {width: 82%; gap: 10px; display: flex; flex-direction: column; align-items: flex-start;}
.on-two-add {display: flex; gap: 10px; align-items: center;}
.average-add {width: 173px; max-width: 200px;}
.average-add-second {width: 183px;}
.long-add {width: 430px; max-width: 99%;}
.special-add-long {width: 430px; max-width: 99%; height: 50px !important;}
/* add persona grid */
/* delete grid */
.delete-confirm-modal {top: 35%;}
.delete-content { display: flex; width: 99%; justify-content: center; gap: 10px; align-items: center; font-size: 19px; margin-bottom: 10px;}
.save-btn { margin-left: 10px;}
/* delete grid */
/* add service grid */
.proveedor-grid-modal{ position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%; max-width: 95%; max-height: 80vh; overflow: auto; background: #ffffff; border-radius: 12px; padding: 18px; box-shadow: 0 12px 36px rgba(0,0,0,0.18); z-index: 4000; display: flex; flex-direction: column; gap: 12px;}
.proveedor-grid-modal .search-holder {width: 100%;}
.proveedor-grid-modal .search-container {width: 100%;}
.proveedor-grid-modal .search-form {width: 80%;} 
.search-form select { padding: 4px 6px; border-radius: 20px; border: 1px solid #bbb; font-size: 15px; transition: border 0.2s, box-shadow 0.2s; outline: none; box-shadow: 0 1px 4px rgba(56,36,155,0.04); }
.search-form option { outline: none; font-weight: bold;}
.fixing-pag {display: flex; justify-content: center;}
.services-table tbody td:nth-child(7),
.services-table tbody td:nth-child(6),
.services-table tbody td:nth-child(5) { text-align: center; }
.services-table tbody td input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
/* add service grid */