/* search */
.title-area {justify-content: flex-end;}
.search-container {width: 30%;}
/* search */
/* centro gestor info */
.centro-info {display: flex; width: 100%; margin-top: 5px; justify-content: center; gap: 10px;}
.centro-content {display: flex; flex-direction: column; justify-content: center;}
.rad-content {display: flex; align-items: flex-start; gap: 10px;}
.rad {display: flex; gap: 10px; align-items: center;}
.centro-content h1 {font-size: 20px !important;}
.widthSmall {width: 10%;}
.bigWidth {width: 30%;}
.rad input[type="radio"] {margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
/* centro gestor info */
/* main-table */
.bolsa-table td:nth-child(8),
.bolsa-table td:nth-child(7),
.bolsa-table td:nth-child(6),
.bolsa-table td:nth-child(5) { text-align: right; }
/* main-table */
/* main grid detail */
.detail-container {width: 99%; padding: 1px; display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;}
.left,
.right {width: 49%;}
.first-table {height: 120px;}
.second-table {height: 80px;}
.third-table {height: 95px;}
.sign {font-weight: bold; font-size: 22px;}
.margin {margin-bottom: 10px;}
.border td {border-top: 1px solid gray; border-bottom: 1px solid gray;}
.borderLeft {border-left: 1px solid gray;}
.borderRight{border-right: 1px solid gray;}
.borderTop {border-top: 1px solid gray;}
.borderBottom {border-bottom: 1px solid gray;}
.signPlacement {height: 70%; display: flex; align-items: end;}
.signPlacement2 {height: 100%; align-content: end;}
.signPlacement3 {height: 85%; align-content: end;}
.margintop {margin-top: 10px;}
/* main grid detail */
/* D grid for centro gestor */
.D-modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; border-radius: 16px; box-shadow: 0 8px 32px rgba(44, 62, 80, 0.18), 0 1.5px 6px rgba(44,62,80,0.08); padding: 25px 30px; min-width: 85%; min-height: 120px; max-height: 80vh; z-index: 3000; display: flex; flex-direction: column; align-items: center;}
.D-modal .title {width: 35%;}
.info-D {display: flex; width: 100%; gap: 10px; justify-content: center; margin: 10px;}
.info-content {display: flex; align-items: center; width: 30%; gap: 10px;}
.art-title {width: 25%; font-size: 23px;}
.info-content p,
.info-content h1 {font-size: 18px;}
/* D grid for centro gestor */