<!-- <div class="credito-page">
    <div 
        class="sidebar-backdrop" 
        *ngIf="!sidebar.collapsed" 
        (click)="sidebar.collapsed = true"
    >
    <app-sidebar #sidebar></app-sidebar>
    <div class="credito-container" [class.blurred]="!sidebar.collapsed">
        <div class="title-menu">
            <div class="title-area">
                <h2 class="margin-title">Gestión bolsa de crédito</h2>  
            </div>
            <div class="search-holder">
                <div class="cge-text">
                    <p>Centro Gestor: </p>

                </div>
            </div>
            <div class="group-menu" (click)="toggleMenu($event)">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="menu-panel" *ngIf="showMenu">
                    <button class="download-btn" >Exportar a PDF</button>
                    <button class="download-btn" >Exportar a CSV</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
