/* search */
.title-area {justify-content: flex-end;}
.search-container {width: 30%;}
/* search */
/* centro gestor info */
.centro-info {display: flex; width: 100%; margin-top: 5px; justify-content: center; gap: 10px;}
.centro-content {display: flex; flex-direction: column; justify-content: center;}
.rad-content {display: flex; align-items: flex-start; gap: 10px;}
.rad {display: flex; gap: 10px; align-items: center;}
.centro-content h1 {font-size: 20px !important;}
.widthSmall {width: 10%;}
.bigWidth {width: 30%;}
.rad input[type="radio"] {margin: 0 6px 0 0; accent-color: #25176b; width: 18px; height: 18px; vertical-align: middle; outline: none; box-shadow: none;}
/* centro gestor info */
/* main-table */
.bolsa-table td:nth-child(8),
.bolsa-table td:nth-child(7),
.bolsa-table td:nth-child(6),
.bolsa-table td:nth-child(5),
.rcTable td:nth-child(8),
.rcTable td:nth-child(9) { text-align: right; }
.tableMessage {width: 10% !important;}
.dots::after {content: ''; animation: dots 1.5s steps(4, end) infinite;}
@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
/* main-table */
/* main grid detail */
.above {display: flex; gap: 20px; align-items: center; padding-left: 1%;}
.detail-container {width: 99%; padding: 1px; display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;}
.left,
.right {width: 49%;}
.zero-table {height: 120px;}
.first-table {height: 91px;}
.second-table {height: 80px;}
.third-table {height: 95px;}
.sign {font-weight: bold; font-size: 22px;}
/* .margin {margin-bottom: 10px;} */
.border td {border-top: 1px solid gray;}
.border-second td {border-bottom: 1px solid gray; padding: 5px;}
.borderLeft {border-left: 1px solid gray;}
.borderRight{border-right: 1px solid gray;}
.borderTop {border-top: 1px solid gray;}
.borderBottom {border-bottom: 1px solid gray;}
.alignment {text-align: right;}
.mix {width: 80%;}
.padding {padding: 5px;}
.contabilidad {text-align: center; height: 10%;}
.contabilidad p {font-size: 22px !important;}
.moreSpace {width: 8%;}
.signFix {height: 100%; display: flex; align-items: flex-end; justify-content: center;}
.top {margin-top: 2%;}
.width {width: 60%;}
/* main grid detail */
/* D grid for centro gestor */
.D-modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; border-radius: 16px; box-shadow: 0 8px 32px rgba(44, 62, 80, 0.18), 0 1.5px 6px rgba(44,62,80,0.08); padding: 25px 30px; min-width: 85%; min-height: 120px; max-height: 80vh; z-index: 3000; display: flex; flex-direction: column; align-items: center;}
.D-modal .title {width: 35%;}
.info-D {display: flex; width: 100%; gap: 10px; justify-content: center; margin: 10px;}
.info-content {display: flex; align-items: center; width: 30%; gap: 10px;}
.art-title {width: 25%; font-size: 23px;}
.info-content p,
.info-content h1 {font-size: 18px;}
/* D grid for centro gestor */