/* search */
.title-area { width: 30%; }
.search-holder { justify-content: flex-start; width: 69%; }
.search-container { margin-left: 15%; gap: 10px; }
/* search */
/* main-list and table */
.entrega-list { width: 40%; }
.entrega-table tbody td:first-child{text-align: left;}
.entrega-table tbody td:nth-child(2){text-align: right;}
/* main-list and table */
/* detail grid */
.modal{ width: 70%;}
.detail-container { display: flex;flex-direction: column; gap: 10px; padding: 1%;}
.chunk{ display: flex; padding: 2px;}
.left { width: 5%; display: flex; flex-direction: column; gap: 10px;}
.right { width: 95%; display: flex; flex-direction: column; gap: 10px;}
.on-two { display: flex; gap: 10px; align-items: center;}
.left p,
.right p { font-size: 14px; font-weight: bold; color: #25176b; }
.chunk textarea { height: 20px; padding: 2px 4px; border-radius: 6px; font-weight: bold; color: #162a3a;}
.chunk textarea:focus { outline: none; border-color: #042b5a; outline: none; background: #fff; } 
.tallText { width: 450px; max-width: 625px;}
.smallText { width: 80px; max-width: 150px;}
.specialText {width: 625px; max-width: 800px; min-height: 100px;}
.center {justify-content: center;}