.table-container { background-color: #f0f0f0; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.styled-table { max-width: 50%; }
.styled-table thead th:first-child,
.styled-table thead th:nth-child(2),
.styled-table thead th:last-child {width: 18%;}
.styled-table tbody td:last-child{text-align: center;}
@media (min-width: 1400px) {
  .table-container { padding: 32px 0; }
  .styled-table { max-width: 85%; font-size: 1.05rem; }
  .styled-table th,
  .styled-table td { padding: 14px 18px; font-size: 1rem; }
  .styled-table button { padding: 8px 16px; font-size: 0.95rem; }
}
@media (min-width: 1700px) {
  .table-container { padding: 40px 0; }
  .styled-table { max-width: 70% !important; font-size: 1.2rem;}
  .styled-table th,
  .styled-table td { padding: 18px 22px; font-size: 1.05rem; }
  .styled-table button { padding: 10px 20px; font-size: 1.05rem; }
}