<div class="table-container">
  <table *ngIf="tableData.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>Perfil</th>
        <th>Usario</th>      
        <th>Entidad</th>
        <th>Nombre</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tableData">
        <td>{{ t.percod }}</td>
        <td>{{ t.usucod }}</td>
        <td>{{ t.entcod }}</td>
        <td>{{ t.entnom }}</td>
        <td>
          <button (click)="selectRow(t)">Seleccionar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>