.dash { display: flex; min-height: 100vh; background: #f0f0f0; }
/* sidebar */
.left { width: 250px; background: #fff; box-shadow: 2px 0 10px rgba(0,0,0,0.08); display: flex; flex-direction: column; min-height: 100vh; }
.sidebar { padding: 32px 16px; display: flex; flex-direction: column; height: 100%; }
.menu { margin-bottom: 12px; }
.user-data { display: flex; gap: 2px; margin-bottom: 5px;}
.left-user,
.right-add { width: 50%; display: flex; flex-direction: column; text-align: left;}
.left-user p,
.right-add p {color: #38249b; font-weight: bold; font-size: 20px;}
.menu button { width: 100%; padding: 8px 14px; }
.choice:hover, 
.menu-item a:hover { background-color: #38249b; color: #e6edf3; }
.drop-down-menu { margin-top: 24px; }
.choice { display: block; padding: 12px 10px; color: #666666; background: #f7f7f7; border-radius: 4px; text-decoration: none; font-size: 15px; font-weight: bold; cursor: pointer; transition: background 0.2s; width: 100%; box-sizing: border-box; }
.menu-content { display: none; position: static; background: #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.08); border-radius: 0 0 8px 8px; z-index: 1; padding: 0; margin: 0; }
.menu:focus {outline: none;}
.menu-content {display: none}
.menu-content.open {display: block;}
.menu-item { display: flex; flex-direction: column; width: 100%  }
.menu-item a { padding: 14px 22px; color: #666666; background: #f7f7f7; text-decoration: none; border-radius: 8px; font-size: 16px; border-bottom: 1px solid #f0f0f0; background: #fff; transition: background 0.2s; width: 100%; box-sizing: border-box; cursor: pointer; font-weight: bold;}
.menu-item a:last-child { border-bottom: none; }
.disabled { pointer-events: none; opacity: 0.5; cursor: not-allowed; font-weight: 100;}
/* sidebar */
/* dashboard */
.right { flex: 1; min-width: 0; display: flex; flex-direction: column; background: #f0f0f0;}
.dashboard { padding: 20px 28px; background: #fff; margin: 32px; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.04);}
.dashboard h1,
.dashboard h2,
.left-params p,
.status,
.connection-data p,
.version p { font-size: 32px; font-weight: bold; color: #38249b ; }
.dashboard h1 {font-size: 50px;}
.left-params p,
.status,
.connection-data p,
.version p { font-size: 18px; }
.connection-data { display: flex;}
.width { width: 50%;}
.parameters {  display: flex;}
.left-params { width: 50%; display: flex;}
.second-left { width: 30%;}
.second-right { width: 70%;}
.on-wo { display: flex; gap: 10px;}
.status { color: rgb(221, 66, 66)}  
.right-params {width: 50%;}
.services-btn {width: 30%; margin-top: 5px;}
.checkboxes input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 16px; height: 25px; vertical-align: middle; outline: none; box-shadow: none; }
.color-text {color: #38249b; font-weight: bold;}
.version {display: flex; gap: 10px; justify-content: flex-end; }
/* dashboard */
/* services grid */
.add-confirm-modal {width: 80%;}
.title {width: 97%;}
.user-services-table thead th:first-child,
.user-services-table thead th:last-child,
.user-services-table thead th:nth-child(4),
.user-services-table thead th:nth-child(5) {width: 90px;}
.user-services-table tbody td input[type="checkbox"] { margin: 0; accent-color: #25176b; width: 14px; height: 18px; vertical-align: middle; outline: none; box-shadow: none; }
.user-services-table tbody td:nth-child(4),
.user-services-table tbody td:nth-child(5),
.user-services-table tbody td:nth-child(6) { text-align: center;}
/* services grid */
.margin{ margin-top: 5px; }