.dash { display: flex; min-height: 100vh; background: #f0f0f0; }
/* sidebar */
.left { width: 250px; background: #fff; box-shadow: 2px 0 10px rgba(0,0,0,0.08); display: flex; flex-direction: column; min-height: 100vh; }
.sidebar { padding: 32px 16px; display: flex; flex-direction: column; height: 100%; }
.menu { margin-bottom: 12px; }
.user-data { display: flex; gap: 2px; margin-bottom: 5px;}
.left-user,
.right-add { width: 50%; display: flex; flex-direction: column; text-align: left;}
.left-user p,
.right-add p {color: #38249b; font-weight: bold; font-size: 20px;}
.menu button { width: 100%; padding: 8px 14px; }
.choice:hover, 
.menu-item a:hover { background-color: #38249b; color: #e6edf3; }
.drop-down-menu { margin-top: 24px; }
.choice { display: block; padding: 12px 10px; color: #666666; background: #f7f7f7; border-radius: 4px; text-decoration: none; font-size: 15px; font-weight: bold; cursor: pointer; transition: background 0.2s; width: 100%; box-sizing: border-box; }
.menu-content { display: none; position: static; background: #fff; box-shadow: 0 2px 10px rgba(0,0,0,0.08); border-radius: 0 0 8px 8px; z-index: 1; padding: 0; margin: 0; }
.menu:hover > .menu-content,
.menu:focus-within > .menu-content { display: block; }
.menu-item { display: flex; flex-direction: column; width: 100%  }
.menu-item a { padding: 14px 22px; color: #666666; background: #f7f7f7; text-decoration: none; border-radius: 8px; font-size: 16px; border-bottom: 1px solid #f0f0f0; background: #fff; transition: background 0.2s; width: 100%; box-sizing: border-box; cursor: pointer; font-weight: bold;}
.menu-item a:last-child { border-bottom: none; }
.disabled { pointer-events: none; opacity: 0.5; cursor: not-allowed; font-weight: 100;}
/* sidebar */
/* dashboard */
.right { flex: 1; min-width: 0; display: flex; flex-direction: column; background: #f0f0f0; }
.dashboard { padding: 40px 32px; background: #fff; margin: 32px; border-radius: 12px; box-shadow: 0 2px 10px rgba(0,0,0,0.04); }
.dashboard h1 { margin-top: 10px; color: #38249b; font-size: 50px; }
.dashboard p,
.dashboard h6,
.variable-names h4 { font-size: 32px; font-weight: bold; color: #38249b ; }
.parameters { width: 80%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.variable-names{ width: 50%; }
.variable-names h4 { font-size: 18px; }
.services-btn { margin-top: 10px; }
.cge-class{ display: flex; gap: 10px; }
.margin{ margin-top: 5px; }
/* dashboard */