<div class="dash">
   <div class="left">
      <div class="sidebar">
        <div class="menu">
          <div class="user-data">
            <div class="left-user">
              <p>Persona</p>
              <p>Perfil</p>
            </div>
            <div class="right-add">
              <p>{{ usucod }}</p>
              <p>{{ perfil }}</p>
            </div>
          </div>
          <button (click)="logout()">Desconectarse</button>
        </div>

        <div class="drop-down-menu">
          <div class="menu">
            <a class="choice">Organigrama</a>
            <div class="menu-content">
              <div class="menu-item">
                <a class="acEje">Consulta de Ejercicios</a>
                <a class="acCGe"
                  [class.disabled]="isCentroGestorDisabled()"
                  (click)="isCentroGestorDisabled() ? null : navigateTo('centroGestor')">Centros Gestores
                </a>
                <a class="AcCCo" (click)="navigateTo('coste')">Centros de Coste</a>
                <a class="acDep" (click)="navigateTo('servicios')">Servicios</a>
                <a class="acPer">Personas</a>
                <a class="#">Consulta de personas por ervicios</a>
                <a class="acLEn" (click)="navigateTo('entrega')">Lugares de Entrega</a>
              </div>
            </div>
          </div>

          <div class="menu">
            <a class="choice">Proveedores</a>
            <div class="menu-content">
              <div class="menu-item">
                <a class="acCoTer" [class.disabled]="isDisabled('acCoTer')">Consulta de Proveedores</a>
                <a class="acTer" [class.disabled]="isDisabled('acTer')" (click)="isDisabled('acTer') ? null : proveedorees()">Gestión de Proveedores</a>
                <a class="acCon">Gestión de Contratos</a>
              </div>
            </div>
          </div>

          <div class="menu">
            <a class="choice">Contabilidad</a>
            <div class="menu-content">
              <div class="menu-item">
                <a class="acFacC" [class.disabled]="isDisabled('acFacC')">Consulta de Facturas</a>
                <a class="acFac"
                  [class.disabled]="isFacturasDisabled()"
                  [attr.aria-disabled]="isFacturasDisabled()"
                  (click)="isFacturasDisabled() ? null : facturas()">Gestión de Facturas
                </a> 
                <a class="acMCon"
                  [class.disabled]="isMonitorDisabled()"
                  (click)="isMonitorDisabled() ? null : navigateTo('acMCon')">Monitor de Contabilización
                </a>
                <a class="acRCon">Gestión de Facturas Contabilizadas</a>
                <a class="acCoGBSM">Consulta Bolsa de Crédito</a>
                <a class="acGBS" [class.disabled]="isDisabled('acGBS')" (click)="isDisabled('acGBS') ? null : navigateTo('acGBS')">Gestión Bolsa de Crédito</a>
                <a class="acGBSM">Gestión Bolsa de Crédito por Centro Gestor</a>
              </div>
            </div>
          </div>

          <div class="menu">
            <a class="choice">Artícilos</a>
            <div class="menu-content">
              <div class="menu-item">
                <a class="acAFA margin" (click)="navigateTo('familia')">Familias y subfamilias</a>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div> 

    <div class="right">
      <div class="dashboard">
        <div class="header-with-logo">
          <img [src]="logoPath" alt="Logo" class="login-logo">
          <h1>Panel Principal</h1>
        </div>
        <p>Bienvenido al panel principal de la aplicación.</p>
        <h6>Conectado con:</h6>
        <div class="parameters">
          <div class="variable-names">
            <h4>Entidad: {{ entcod }}</h4>
            <h4>Ejercicio: {{ eje }}</h4>
            <div class="cge-class">
              <h4 class="margin">Centro gestor: {{ centroGestor }}</h4>
              <button class="cge-btn" (click)="goToCge()">Cambiar Centro Gestor</button>
            </div>
            <button class="services-btn" (click)="goToServices()">Ver Servicios</button>
          </div>
        </div>
      </div>
</div>